<html lang="en">
<main>
  <%= tag.h1 @shelter.name %>
  <% @shelter.attributes.values_at("address", "city", "state", "zip").each do |attribute| %>
    <%= tag.p attribute %>
  <% end %>
<%= link_to("Update Shelter", "/shelters/#{@shelter.id}/edit") %>
<%= link_to("Delete Shelter", "/shelters/#{@shelter.id}", method: :delete) %>
</main>
